p
{
	text-align:center;
}
#header
{
	background-color:gray;
}
#footer
{
	background-colorgray;
}
h4
{
text-align:center;	
}

ul#menu {
    padding: 0;
}

ul#menu li {
    display: inline;
}

ul#menu li a {
    background-color: gray;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

}